
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ABOUT | TRIQ Bootstrap template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML template for your app/company">
    <meta name="author" content="Oskar Żabik (oskar.zabik@gmail.com)">

    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/websymbols.css">
    <link rel="stylesheet" href="css/triq.css">
    <link rel="stylesheet" href="css/triq-responsive.css">

    <link rel="stylesheet" href="css/demo.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/font-awesome-ie7.css"><![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">

  </head>

  <body>

    <!-- Le before-navbar info -->
    <div class="before-navbar">
      <br>
    </div>

    <!-- Le TRIQ navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="img/logo2.png" alt="TRIQ template"></a>
          <a href="#footer-nav" class="btn btn-simple visible-phone pull-right">Menu</a>
          <ul class="nav pull-right hidden-phone" title="Navigation Menu">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="about.html">About</a></li>
            <li><a href="http://blog.conversantlabs.com">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
		<h1 class="page-header"> <span class="color-twitter">ABOUT</span> US</h1>
		
		<div class="row">
			<ul class="ca-menu unstyled">
			    <li class="span3">
			        <a href="#stats">
			            <span class="ca-icon">u</span>
			            <div class="ca-content">
			                <h2 class="ca-main">Statistics</h2>
			                <h3 class="ca-sub">Why the need is so great</h3>
			            </div>
			        </a>
			    </li>
			    <li class="span3 active">
	                <a href="#mission">
	                    <span class="ca-icon" id="heart">O</span>
	                    <div class="ca-content">
	                        <h2 class="ca-main">Our Mission</h2>
	                        <h3 class="ca-sub">What we plan to do about it</h3>
	                    </div>
	                </a>
	            </li>
	            <li class="span3">
	                <a href="#teams">
	                    <span class="ca-icon">U</span>
	                    <div class="ca-content">
	                        <h2 class="ca-main">The Team</h2>
	                        <h3 class="ca-sub">Just who's working on the problem</h3>
	                    </div>
	                </a>
	            </li>
	            <li class="span3">
	                <a href="#jobs">
	                    <span class="ca-icon">L</span>
	                    <div class="ca-content">
	                        <h2 class="ca-main">Jobs</h2>
	                        <h3 class="ca-sub">What are you waiting for?</h3>
	                    </div>
	                </a>
	            </li>
			</ul>
		</div>
	
	</div>


	<div class="showcase-container demo">
    <div id="stats" class="text-wraper">
      <div class="text demo-1">
        <h1>Statistics</h1>
        <p>There are 6.5 million Americans with a severe visual impairment (<a href="http://factfinder2.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_11_1YR_B18103&prodType=table" target="_blank">source</a>), and an estimated 285 million blind people globally (<a href="http://www.lighthouse.org/research/statistics-on-vision-impairment/prevalence-of-vision-impairment/#worldwide" target="_blank">source</a>). In the UK 87% of the older, visually impaired population rarely or never use the internet (<a href="http://www.4-traders.com/BT-GROUP-PLC-4003616/news/BT-Group-plc-Older-people-with-sight-loss-face-major-disadvantages-not-being-online-15977420/?goback=%2Egde_1605077_member_209217802" target="_blank">source</a>).  Despite our best efforts technology is still inaccessible to a vast number of individuals. We want to fix this.</p>
      </div>
    </div>
    <img id="stats" class="pull-right" src="img/stats.png">
  </div>
  <div class="clearfix"></div>

	<div class="container">
		<hr>
    <div id="mission"></div>
		<div id="mission2" class="row demo-2">
			<div class="span6"><img src="img/heart.png" alt="Heart Icon"></div>
			<div class="span6">
				<h1>Our Mission</h1>
				<p>We believe that it's not enough to ask if something is accessible or not. Products designed for the blind should empower them to be as productive as people with 20/20 vision. And that's just the first step. In time we hope to build tools which enable the blind to be more productive than their sighted counterparts.</p>
			</div>
		</div>
    

		<hr>
    <div id="teams" style="position: relative; top: -85px;"></div>
		<h1 id="team" class="centered">The Team</h1>
		<br>
		<div class="ul-centered team">
			<ul class="unstyled pagination-centered thumbnails browsers">
				<li>
          <div class="span3">
            <img src="img/profile.jpg" alt="Chris Maury's headshot">
            <h2>Chris Maury</h2>
            <p>Former Product manager for <a href="http://klout.com"target="_blank" alt="visit klout.com">Klout</a> and diagnosed with <a href="http://wikipedia.org/wiki/Stargardt_disease" target="_blank">Stargardt's</a> in 2011. He is dedicated to creating solutions to benefit not only himself but the blind community as a whole.</p>
          </div>
        </li>
				<li>
          <div class="span3">
            <img src="img/gravatar.png" alt="Blank avatar image with a question mark over the face.">
            <h2>The Community</h2>
            <p>This project would never have gotten off the ground if not for the enthusiastic support of the accessibility and blind communities. Thank you so much for all of your help.</p>
          </div>
        </li>
			</ul>
		</div>
		<hr>

		<div id="jobs" class="row demo-4">
			<div class="span4"><a href="/contact.html#contact"><i class="icon-websymbols" style="font-size: 86px;">R</i></a></div>
			<div class="span8">
				<h1>Jobs</h1>
				<p>Do you want to help improve the lives of millions? <a href="/contact.html#contact" target="_blank">Contact us</a> and tell us why you want to help!</p>
			</div>
		</div>
    <div class="row">
      <div class="span4">
        <img class="pull-right" src="img/iOS_jobs.png" alt="Picture of the iPhone5.">
      </div>
      <div class="span8">
        <h2>iOS Engineer</h2>
        <p>We're looking for someone who deeply curious about speech recognition technologies, from Siri to the Web Speech APIs. We want to build the next generation of voice powered interfaces and are looking for someone who is willing to explore this frontier with us. Interested in inventing something new while helping improve the lives of millions of marginalized individuals? <a href="/contact.html#contact" target="_blank">Get in touch</a> and let's talk.</p>
      </div>
    </div>	
	</div>

    <!-- Le Footer -->
    <div class="background-white footer">
      <div class="container">
        <p class="pull-right"><a id="toplink" href="#">Back to top</a></p>
        <ul id="footer-nav" class="nav visible-phone" title="Navigation Menu">
          <hr>
          <h3 class="centered">Menu</h3>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.scrollto-1.4.3.1-min.js"></script>  
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <script src="js/triq.js"></script>

  </body>
</html>