
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ABOUT | TRIQ Bootstrap template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML template for your app/company">
    <meta name="author" content="Oskar Żabik (oskar.zabik@gmail.com)">

    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/websymbols.css">
    <link rel="stylesheet" href="css/triq.css">
    <link rel="stylesheet" href="css/triq-responsive.css">

    <link rel="stylesheet" href="css/demo.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/font-awesome-ie7.css"><![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">

  </head>

  <body>

    <!-- Le before-navbar info -->
    <div class="before-navbar">
      <div class="container">

        <div class="pull-right">
            <p>
                <a href="#"><i class="icon-twitter-sign color-twitter"></i></a>
                <a href="#"><i class="icon-facebook-sign color-facebook"></i></a>
                <a href="#"><i class="icon-linkedin-sign color-linkedin"></i></a>
            </p>
        </div>

      </div>
    </div>

    <!-- Le TRIQ navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="logo.png" alt="TRIQ template"></a>
          <a href="#footer-nav" class="btn btn-simple visible-phone pull-right">Menu</a>
          <ul class="nav pull-right hidden-phone">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container">
		<h1 class="page-header"> <span class="color-twitter">ABOUT</span> US</h1>
		
		<div class="row">
			<ul class="ca-menu unstyled">
			    <li class="span3">
			        <a href="#stats">
			            <span class="ca-icon">u</span>
			            <div class="ca-content">
			                <h2 class="ca-main">Statistics</h2>
			                <h3 class="ca-sub">Why the need is so great</h3>
			            </div>
			        </a>
			    </li>
			    <li class="span3 active">
	                <a href="#mission">
	                    <span class="ca-icon" id="heart">O</span>
	                    <div class="ca-content">
	                        <h2 class="ca-main">Our Mission</h2>
	                        <h3 class="ca-sub">What we plan to do about it</h3>
	                    </div>
	                </a>
	            </li>
	            <li class="span3">
	                <a href="#team">
	                    <span class="ca-icon">U</span>
	                    <div class="ca-content">
	                        <h2 class="ca-main">The Team</h2>
	                        <h3 class="ca-sub">Just who's working on the problem</h3>
	                    </div>
	                </a>
	            </li>
	            <li class="span3">
	                <a href="#jobs">
	                    <span class="ca-icon">L</span>
	                    <div class="ca-content">
	                        <h2 class="ca-main">Jobs</h2>
	                        <h3 class="ca-sub">What are you waiting for?</h3>
	                    </div>
	                </a>
	            </li>
			</ul>
		</div>
	
	</div>


	<div class="showcase-container demo">
		<div id="stats" class="text-wraper">
      <div class="row-fluid">
        <div class="text demo-1 span6">
          <h1>Statistics</h1>
          <p>TRIQ code passed test by W3C Validator Service. Smart class names and properly used tags, withour unnecessary markup makes TRIQ easy to edit. Code is also very well commented.</p>
        </div>
        <div id="stats-box" class='span6'>
          <div id="stats" class="pull-left">
            <h1 class="inverted">40</h1> <p class="inverted">Percentage of the blind who've never used the internet.</p>
            <br>
            <br>
            <h1 class="inverted">6.5</h1> <p class="inverted">Million Americans with severe vision impairment.</p>
          </div> 
        </div>
      </div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="container">
		<hr>

		<div id="mission" class="row demo-2">
			<div class="span6"></div>
			<div class="span6">
				<h1>Our Mission</h1>
				<p>TRIQ is fully documented (Markdown used for creating documentation). That means you will find HTML, PDF and READ.md files in purchased package. Documentation contains code examples, resources added, proper markup and more. Don't ever get confused again!</p>
			</div>
		</div>

		<hr>
		<h1 id="team" class="centered">The Team</h1>
		<br>
		<div class="ul-centered">
			<ul class="unstyled pagination-centered thumbnails browsers">
				<li>
          <div class="span3">
            <img src="img/profile.jpg" alt="Chris Maury's headshot">
            <h2>Chris Maury</h2>
            <p>Former Product manager for <a href="http://klout.com"target="_blank">Klout</a> and diagnosed with <a href="http://wikipedia.org/wiki/Stargardt_disease" target="_blank">Stargardt's</a> in 2011. He is dedicated to creating solutions to benefit not only himself but the blind community as a whole.</p>
          </div>
        </li>
				<li>
          <div class="span3">
            <img src="img/gravatar.png" alt="Blank avatar image with a question mark over the face.">
            <h2>The Community</h2>
            <p>This project would never have gotten off the ground if not for the enthusiastic support of the accessibility and blind communities. Thank you so much for all of your help.</p>
          </div>
        </li>
			</ul>
		</div>
		<hr>

		<div id="jobs" class="row demo-4">
			<div class="span4"><a href="/contact.html#contact"><i class="icon-websymbols" style="font-size: 86px;">R</i></a></div>
			<div class="span8">
				<h1>Jobs</h1>
				<p>Click on the star to see my profile and buy this template! You will enjoy it, I promise.</p>
			</div>
		</div>	
	</div>

    <!-- Le Footer -->
    <div class="background-white footer">
      <div class="container">
        <p class="pull-right"><a id="toplink" href="#">Back to top</a></p>
        <ul id="footer-nav" class="nav visible-phone">
          <hr>
          <h3 class="centered">Menu</h3>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.scrollto-1.4.3.1-min.js"></script>  
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <script src="js/triq.js"></script>

  </body>
</html>