
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Conversant Labs - Reinventing Accessibility</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML template for your app/company">
    <meta name="author" content="Oskar Żabik (oskar.zabik@gmail.com)">

    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/triq.css">
    <link rel="stylesheet" href="css/triq-responsive.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/css/font-awesome-ie7.css"><![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">

  </head>

  <body>

    <!-- Le before-navbar info -->
    <div class="before-navbar">
      <br>
    </div>
    <!-- Le TRIQ navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="img/logo2.png" alt="site logo. Visit Homepage"></a>
          <a href="#footer-nav" class="btn btn-simple visible-phone pull-right">Menu</a>
          <ul class="nav pull-right hidden-phone" title="Navigation Menu">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            </li>
            <li><a href="http://blog.conversantlabs.com">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="background-light-grey">
      <div class="container">
        <div class="row-fluid">

          <div class="featured">
          
            <div class="span6">
              <div class="excerpt">
                <h1>Reinventing Accessibility.</h1>
                <p>We build applications tailored to the specific needs of the visually impaired. By putting the blind at the center of the design process we can build products which are easier and faster to use than traditional screen readers.</p>
                <a href="/about.html#mission"  class="btn btn-arrow-right btn-simple btn-blue btn-huge pull-right featured">Read about our mission</a>
              </div>
            </div>

            <div class="span6">
              <img class="pull-right" src="demo_img/typicacopy.png" alt="Typica - Bootstrap template">
            </div>

        </div>

        </div>
      </div>
    </div>

    <!-- signup strip -->
    <div class="background-grey strip">
      <div class="container">
        
        <p class="pull-left">This is only the beginning. To stay updated about our progress, sign up for email updates.</p>

        <div class="pull-right"><a href="#signup-modal" class="btn btn-info btn-huge btn-simple" data-toggle="modal">Sign up now</a></div>

      </div>
    </div>

      <hr>

      <!-- Where can you find us -->
      <div class="info-centered">
        <p>Where can you find us?</p>
        <a href="https://www.facebook.com/pages/Conversant-Labs/438191096263041" class="icon-squared color-facebook" title="facebook">
          <article><span><i class="icon-facebook"></i></span></article></a>
        <a href="http://twitter.com/conversantlabs" class="icon-squared color-twitter" title="twitter">
          <article><span><i class="icon-twitter"></i></span></article></a>
      </div>  

    </div><!-- /.container -->

    <!-- Le Footer -->
    <div class="background-white footer">
      <div class="container">
        <p class="pull-right"><a id="toplink" href="#">Back to top</a></p>

        <ul id="footer-nav" class="nav visible-phone" title="Navigation Menu">
          <hr>
          <h3 class="centered">Menu</h3>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="http://blog.conversantlabs.com">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>


    <!-- SignUp modal -->
    <div id="signup-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="centered">Sign Up</h3>
      </div>
      <div class="modal-body">
        <div id="form_alert" class="alert" style="display:none" message="All Done! thanks for signing up!">
                <p id="form_alert_message"></p>
        </div>        
        <form class="form-horizontal" action="email" method="post" >
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" name="email" placeholder="Email">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-info">Sign Up</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.scrollto-1.4.3.1-min.js"></script>  
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <script src="js/triq.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
  </body>
</html>
